$black: #000000;
$white: #ffffff;
$grey: #c7c7cd;
$grey-medium: #d9d9d9;
$grey-disabled-text: #acacac;
$grey-light: #e2e2e2;
$grey-lighter: #eef1f4;
$grey-background: #d8e1e8;
$yellow-green: #8fcf3b;
$blue: #1f8fe1;
$blue-dark: #2381c0;
$blue-light: #7297ee;
$red: #e65359;
$violet: #ac43bf;
$yellow-orange: #e5ab39;
$green-primary: #19a69a;
$color-primary: #06031a;
$text-color-secondary: #859198;
$text-color-primary: #5d6572;
$grey-primary: #f4f4f4;
$golden: #efa76d;
$attention-warning: #eb6464;
$attention-warning-status: #c22d2d;
$danger-button: #e65359;
$danger-button-hover: #eb6464;
$success-button: $green-primary;
$success-button-hover: #2e8080;
$disabled-button: $grey-medium;
$disabled-button-hover: #00000029;
$focus-outline: $blue;
