@import 'src/styles/global/colors';

// Common Buttons
.um-btn-primary,
.um-btn-secondary,
.um-btn-danger {
  background-color: $success-button;
  border-color: $success-button;
  color: $white;
  border-radius: 5px;
  height: 60px;
  line-height: 30px;
  max-width: 336px;
  width: 100%;
  font-size: 16px;
  border: none;

  &:focus {
    outline: 1px solid $focus-outline;
  }

  &:hover,
  &:active {
    background-color: $success-button-hover;
    border-color: $success-button-hover;
  }

  &.disabled {
    background-color: $disabled-button;
    border-color: $disabled-button;
    color: $white;

    &:hover,
    &:active {
      background-color: $disabled-button-hover;
      border-color: $disabled-button-hover;
    }
  }
}

.um-btn-secondary {
  background-color: #3b4252;
  border-color: #3b4252;
  color: $white;

  &:hover,
  &:active {
    background-color: #4f5665;
    border-color: #4f5665;
  }
}

.um-btn-secondary--outline {
  background-color: $white;
  border-color: #3b4252;
  color: #3b4252;

  &:hover,
  &:active {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }
}

.um-btn-danger {
  background-color: $danger-button;
  border-color: $danger-button;
  color: $white;
  border-radius: 1rem;

  &:hover,
  &:active {
    background-color: $danger-button-hover;
    border-color: $danger-button-hover;
  }
}

.um-btn-success {
  background-color: $success-button;
  border-color: $success-button;
  color: $white;
  border-radius: 1rem;

  &:hover,
  &:active {
    background-color: $success-button-hover;
    border-color: $success-button-hover;
  }
}

.um-btn-outline-dark {
  color: $text-color-primary;
  box-shadow: none;
  background-color: transparent;
  border: none;
}
