@import 'src/styles/global/bulma-overrides';

.tooltip {
  cursor: pointer;
  font-size: rem(14);
  width: rem(400);
  @include mobile {
    width: rem(280);
  }
  padding: rem(10);
  text-align: left;
}
