.umaiReactModalPortal {
  .ReactModal__Overlay {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Display', 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: rgba(0, 0, 0, 0.35) !important;
    z-index: 10000; // fix for settings app

    .ReactModal__Content {
      padding: 0 !important;
      border-radius: 16px !important;
      box-shadow: 0px 2px 4px 2px #0000002f;
      max-height: 95vh;
      left: 50% !important;
      border: none !important;
      @media only screen and (max-width: 672px) {
        left: 50% !important;
        width: 95%;
      }

      .close-popup {
        all: unset;
        position: sticky;
        left: calc(100% - 45px);
        top: 10px;
        z-index: 3;
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          * {
            fill: black;
          }
        }

        &:focus {
          border-radius: 4px;
          box-shadow: 0 0 0 1px #1f8fe1;
        }
      }
    }
  }

  .ReactModal__Content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    border-radius: 16px;
  }

  .ReactModal__Content {
    &--after-open {
      animation: transformModal 150ms ease-in forwards !important;
    }
  }

  @keyframes transformModal {
    0% {
      transform: translate3d(-50%, 50%, 0);
    }
    100% {
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
